<h2><%= "#{t(:edition_of)} #{@event.name}" %></h2>

<%= form_for @event, :url => {action: 'update'}, :html => {:method => 'patch'} do |f| %>
    <table class="table_paneladmin">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :type, t(:event_type) %></td>
        <td><%= f.select :type, options_for_select(@event_types), {}, { disabled: true } %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :min_slots, t(:min_slots) %></td>
        <td><%= f.number_field :min_slots %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :max_slots, t(:max_slots) %></td>
        <td><%= f.number_field :max_slots %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :date, t(:date_begin) %></td>
        <td><%= f.datetime_select :date, default: 1.day.from_now %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :end, t(:date_end) %></td>
        <td><%= f.datetime_select :end, default: 1.day.from_now + 1.minutes %><br/></td>
      </tr>
    </table>
    <a class="btn btn-warning btn-mini icon-white icon-remove edit_button" href="/admin/countries"><%= t(:cancel) %></a>
    <%= f.submit t(:edit), :id => 'edit_submit', :class => 'btn btn-success btn-mini icon-white icon-remove edit_button'%>
<% end %>
