<div class="col-md-8 left-column search-event-block search-event-container">
  <div class="col-md-12 search-event">
    <h4 class="search-event-title search-event-title-one"><%= t(:search_user) %></h4>
    <div class="col-md-12 search-params">
      <div class="col-md-12 search-param-line">
        <div class="col-md-4 search-param">
          <button class="btn btn-search-param" type="button" id="menu1" data-toggle="dropdown"><%= t(:lang) %>
            <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <!-- ci dessous afficher les langues disponibles en suivant les exemples-->
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">FR</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EN</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ES</a></li>
          </ul>
        </div>
        <div class="col-md-4 text-align-button search-param">
          <div class="col-md-4">
            <%= t(:place) %>
          </div>
          <input class="search-event-input col-md-8"></input>
        </div>
        <div class="col-md-4 search-param-last">
          <button class="btn btn-search-param" type="button" id="menu1" data-toggle="dropdown"><%= t(:friend) %>
            <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= t(:yes) %></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= t(:no) %></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 search-param-line-last">
        <a class="search-event-button col-md-3 event-page-button">
          <%= t(:search) %>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-12 display-events">
    <div class="col-md-12 sort-params">
      <div class="col-md-3 sort-param-title text-align-button">
        <%= t(:sort_by) %>
      </div>
      <div class="col-md-3 sort-param">
        <button class="btn btn-sort-param" type="button" id="menu1" data-toggle="dropdown"><%= t(:rating) %>
          <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= t(:rating) %> (<%= t(:asc) %>)</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= t(:rating) %> (<%= t(:desc) %>)</a></li>
        </ul>
      </div>
    </div>




    <!-- Les users seront affiches dans un div de la maniere définie ci dessous -->
    <div class="col-md-12 event-container">
      <div class="event-image-container col-md-2">
        <!-- La background image du div ci dessous correspond à l'image de l'utilisateur-->
        <div class="event-image col-md-12" background-image="http://3.bp.blogspot.com/-UuPRy9bowtg/TVNJOVN25tI/AAAAAAAAADA/cIB3IUy1YFw/s1600/ad5aa85d-180a-4557-9071-5e9421437be4%255B1%255D.jpg"></div>
      </div>
      <div class="event-infos-container col-md-10">
        <h4 class="event-title"><%= t(:user) %></h4>
        <div class="col-md-12"><%= t(:rating) %></div>
        <div class="col-md-4"><%= t(:lang) %></div>
        <div class="col-md-4"><%= t(:place) %></div>
        <div class="col-md-4"><%= t(:invite) %></div>
      </div>
    </div>
  </div>
</div>
