<div id="hof_module">
  <h2 id="hof_module_title"><%= t(:hof) %></h2>
  <div id="hof_module_content">
    <div id="hof_module_selectors_wrapper">
      <div class="hof_module_selector" id="hof_module_select_members"><p><%= t(:all_members) %></p></div>
      <div class="hof_module_selector" id="hof_module_select_years"><p><%= t(:this_year) %></p></div>
      <div class="hof_module_selector" id="hof_module_select_month"><p><%= t(:this_month) %></p></div>
    </div>
    <div id="hof_module_selectors_wrapper">
      <div class="hof_module_selector" id="hof_module_select_name"><b><%= t(:name) %></b></div>
      <div class="hof_module_selector" id="hof_module_select_star"><b></b></div>
      <div class="hof_module_selector" id="hof_module_select_star"><b><%= t(:star) %></b></div>
    </div>
    <div id="hof_module_tab_wrapper">
      <table id="hof_module_tab">
        <tr class="hof_module_row"><td class="hof_module_rank">1.</td><td class="hof_module_name">User EIP</td><td class="hof_module_stars">12<%= image_tag 'star_hof.png', class: 'star_hof' %></td></tr>
        <tr class="hof_module_row"><td class="hof_module_rank">2.</td><td class="hof_module_name">Thibaut Roche</td><td class="hof_module_stars">11<%= image_tag 'star_hof.png', class: 'star_hof' %></td></tr>
        <tr class="hof_module_row"><td class="hof_module_rank">3.</td><td class="hof_module_name">Pom Mop</td><td class="hof_module_stars">9<%= image_tag 'star_hof.png', class: 'star_hof' %></td></tr>
        <tr class="hof_module_row"><td class="hof_module_rank">4.</td><td class="hof_module_name">Joffrey Riela</td><td class="hof_module_stars">7<%= image_tag 'star_hof.png', class: 'star_hof' %></td></tr>
        <tr class="hof_module_row"><td class="hof_module_rank">5.</td><td class="hof_module_name">Alexis Na</td><td class="hof_module_stars">6<%= image_tag 'star_hof.png', class: 'star_hof' %></td></tr>
      </table>
    </div>
  </div>
</div>