<h1 id="admin_title"><%= t(:badges) %></h1>
<%= link_to t(:new), '/admin/badges/new',
            :class => 'btn btn-success btn-mini icon-white icon-remove admin_new_button' %>
<br/>

<div id="admin_country_list">
  <table class="table table">
    <tr class="active">
      <th><%= t(:name) %></th>
      <th><%= t(:identifier) %></th>
      <th><%= t(:desc) %></th>
      <th><%= t(:icon) %></th>
      <th><%= t(:actions) %></th>
    </tr>
    <% @badges.each do |badge| %>
        <% if badge.icon_path %>
            <% badge.icon_path.slice!('public/') %>
        <% end %>
        <tr>
          <td class="country_name"><span><%= badge.name %></span></td>
          <td class="country_language"><%= badge.identifier %></td>
          <td class="country_language"><%= badge.description %></td>
          <td class="country_flag_path"><%= image_tag "/#{badge.icon_path}" if badge.icon_path %> <%= badge.icon_path %></td>
          <td class="country_action">
            <%= link_to t(:edit), "/admin/badges/#{badge.id}/edit",
                        :class => 'btn btn-warning btn-mini icon-white icon-remove admin_edit_button' %>
            <%= link_to t(:delete), "/admin/badges/#{badge.id}/delete", :method => :delete,
                        :class => 'btn btn-danger btn-mini icon-white icon-remove admin_delete_button',
                        :data => { :confirm => 'Delete' } %>
          </td>
        </tr>
    <% end %>
  </table>

  <div class="text-center">
    <%= paginate @badges, :theme => 'twitter-bootstrap-3' %>
  </div>
</div>