<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
</head>

<body>
<div id="wrap">
  <div id="pastEvents">
    <div class="tEvent">
      <header><%= t(:list_past_events) %></header>
      <div class="pEvent"><%= t(:event) %><br>
        <table>
          <% @past_events.each do |e| %>
              <tr>
                <td id="pEventlist"><%= e.name %></td>  <!-- Mettre une taille limite de caractères au titre genre 20 caractères -->
                <td id="pEventlist"><button id="optButEvent" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Notez !</button></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div id="nextEvents">
    <div class="tEvent">
      <header>Liste de tes événements à venir</header>
      <div class="pEvent"><%= t(:event) %><br>
        <table>
          <% @future_events.each do |e| %>
              <tr>
                <td id="pEventlist"><%= e.name %></td>
                <td id="pEventlist"><button id="optButEvent" type="button" class="btn btn-primary btn-lg">Détails</button></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- POPIN CODE -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modalEvent" id="myModalLabel">Macaroni Party !</h4>
      </div>
      <div id="modalEvent" class="row">
        <%= image_tag('groupevents/engine/macar.jpg', :class => "imgEventModal") %>
        <ul id="optEvent">
          <li><%= t(:rating_organizer) %></li>
          <ul class="ratingEvent">
            <% (1..5).each do |i| %>
                <li class="ratingEventstar"  data-stars="<%= i %>" data-user-id="<%= 1 %>" id=<%="#{1}_#{i}"%>></li>
            <% end %>
          </ul><br>
          <li><%= t(:overall_rating) %></li>
          <ul class="ratingEvent">
            <li>
              <% (1..5).each do |i| %>
                <li class="ratingEventstar"  data-stars="<%= i %>" data-event-id="<%= 1 %>" id=<%="#{1}_#{i}"%>></li>
            <% end %>
            </li>
          </ul>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>

