<div class="gEvent">
  <header>
    <h1><%= t(:registered_event) %>, <%= current_user.name %> !</h1>
  </header>
  <div class="gEventDesc">
    <div id="eDescription">
      <h3><%= @event.name %></h3>
      <div><%= image_tag('eventSearch_background.jpg', :class => 'imgEvent') %></div> <!-- Ici ajouter la bannière, si possible set une taille limite de 300x200 ! -->
      <div id="eDescriptionDetails">
        <ul>
          <li><h4><%= t(:organizer) %></h4>
            <ul>
              <li><%= @event.owner.name %></li>
            </ul>
          </li>
          <li><h4><%= t(:event_adress) %></h4>
            <ul>
              <li><%= @event.address.to_s %></li>
            </ul>
          </li>
          <li><h4><%= t(:description_event) %></h4>
            <ul>
              <li>
                <%= @event.desc %>
              </li>
            </ul>
          </li>
          <li>
            <br/><br/>
            <% if @event.date > Time.now %>
                <% if can_register?(@event, current_user) %>
                    <%= button_to 'S\'inscrire', { action: 'register' }, { class: '.btn' } %>
                <% end %>
            <% else %>
                <% if @event.users.include?(current_user) %>
                    <p>
                      Cet événement est maintenant terminé ! Nous espérons qu'il vous a plû.
                      <%= link_to 'Notez l\'organisateur', user_rating_path(@event.owner) %>
                    </p>
                <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div id="uEvents">
      <h3><%= t(:registered_event) %></h3>
      <ul>
        <% current_user.events.each do |event| %>
            <%= link_to event.name, "/events/groupevents/#{event.id}" %>
        <% end %>
      </ul>
    </div>
    <div class="uList">
      <h3><%= t(:participants) %></h3>
      <ul>
        <% @event.users.each do |u| %>
            <li><%= u.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
