<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
</head>
<body>
<div class="gEvent">
  <header>
<<<<<<< HEAD
    <%= t(:registered_event) %>, <%= current_user.name %> !
=======
    <h1><%= t(:registered_event) %>, <%= current_user.name %> !</h1>
>>>>>>> 091798097f9efdd5cfe73ef658455ce7e8eeb02e
  </header>
  <div class="gEventDesc">
    <div id="eDescription">
      <h3><%= @event.name %></h3>
      <div><%= image_tag('eventSearch_background.jpg', :class => 'imgEvent') %></div> <!-- Ici ajouter la bannière, si possible set une taille limite de 300x200 ! -->
<<<<<<< HEAD
      <ul>
        <li><h4><%= t(:organizer) %></h4>
          <ul>
            <li><%= @event.owner.name %></li>
          </ul>
        </li>
        <li><h4><%= t(:event_adress) %></h4>
          <ul>
            <li><%= @event.address.to_s %></li>
          </ul>
        </li>
        <li><h4><%= t(:description_event) %></h4>
          <ul>
            <li>
              <%= @event.desc %>
            </li>
          </ul>
        </li>
      </ul>
=======
      <div id="eDescriptionDetails">
        <ul>
          <li><h4><%= t(:organizer) %></h4>
            <ul>
              <li><%= @event.owner.name %></li>
            </ul>
          </li>
          <li><h4><%= t(:event_adress) %></h4>
            <ul>
              <li><%= @event.address.to_s %></li>
            </ul>
          </li>
          <li><h4><%= t(:description_event) %></h4>
            <ul>
              <li>
                <%= @event.desc %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
>>>>>>> 091798097f9efdd5cfe73ef658455ce7e8eeb02e
    </div>
    <div id="uEvents">
      <h3><%= t(:registered_event) %></h3>
      <ul>
        <% current_user.events.each do |event| %>
            <%= link_to event.name, "/events/groupevents/#{event.id}" %>
        <% end %>
      </ul>
    </div>
    <div class="uList">
      <h3><%= t(:participants) %></h3>
      <ul>
        <% @event.users.each do |u| %>
            <li><%= u.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</body>
