<body class="homepage_body">

<nav class="navbar navbar-new" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-right" id="navbar1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <li class="active"><%= link_to t(:home), '/', :class => 'navbar-link linkNavbar',
                            :id => 'home_link' %></li>
            <li><%= link_to t(:my_account), edit_user_registration_path, :class => 'navbar-link linkNavbar',
                            :id => 'profile_link' %></li>
            <li><%= link_to t(:events), events_path, :class => 'navbar-link linkNavbar',
                            :id => 'events_link' %></li>
            <% if current_user.admin %>
                <li><%= link_to t(:admin), '/admin', :class => 'navbar-link linkNavbar',
                                :id => 'admin_link' %></li>
            <% end %>
            <li><%= link_to t(:disconnect), destroy_user_session_path, method: :delete,
                            :class => 'navbar-link logout linkNavbar', :id => 'logout_link' %></li>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <div class="dropdown">
          <button class="selector_button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <div class="selector_icon"><img src="/images/flags/<%= flag(I18n.locale) %>"/></div>
            <div class="selector_text"><%= I18n.locale %></div>
          </button>

          <ul style="width: 50px !important;"  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <% Country.where(available: true).each do |country| %>
                <li role="presentation" onclick="location.href = '/change_locale/<%= country.i18n_key %>'">
                  <div class="selector_line">
                    <div class="selector_nicon"><img src="/images/flags/<%= country.name %>.ico"/></div>
                    <div class="selector_ntext"><%= country.i18n_key %></div>
                    <div style="clear: both;"></div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>

      </ul>
    </div>
  </div>
</nav>

    <div id="left_module" class="module">
      <% if @modules_to_display.include?(:achievements) %>
          <%= render 'home/modules/achievements' %>
      <% end %>
    </div>
    <div id="main_module" class="module">
      <% if @modules_to_display.include?(:events) %>
          <%= render 'home/modules/events' %>
      <% end %>
    </div>
    <div id="right_top_module" class="module">
      <% if @modules_to_display.include?(:messages) %>
          <%= render 'home/modules/messages' %>
      <% end %>
    </div>
    <div id="right_bot_module" class="module">
      <%= render 'home/modules/hof' %>
    </div>
    <div id="right_bot_module2" class="module">
          <div class="home_quicksearch_field">
            <%= text_field_tag :searchterm, '', placeholder: t(:quick_search_event) %>
            <%= submit_tag t(:find), id: 'search' %>
          </div>
    </div>

</body>