<h2><%= "#{t(:edition_of)} #{@country.language}" %></h2>

<%= form_for @country, :url => {action: 'update'}, :html => {:method => 'post', :multipart => true} do |f| %>
    <table class="table_paneladmin">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :language %></td>
        <td><%= f.text_field :language %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :flag_path %></td>
        <td><%= f.file_field :flag_path %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :available, 'Disponible pour traduction' %></td>
        <td><%= f.radio_button :available, 1, checked: @country.available %><br/></td>
        <td><%= f.label :available, 'Non disponible pour traduction' %></td>
        <td><%= f.radio_button :available, 0, checked: !@country.available %><br/></td>
      </tr>
      <tr>
        <td><%= f.label :i18n_key %></td>
        <td><%= f.text_field :i18n_key, { placeholder: 'Ex: fr, en, es...' } %><br/></td>
      </tr>
    </table>
    <a class="btn btn-warning btn-mini icon-white icon-remove edit_button" href="/admin/countries"><%= t(:cancel) %></a>
    <%= f.submit t(:update), :id => 'edit_submit' , :class => 'btn btn-success btn-mini icon-white icon-remove edit_button'%>
<% end %>