<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">

<body id="LoginBody">

<nav class="navbar navbar-new" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-right" id="navbar1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <li><%= link_to t(:sign_up_caps), new_user_registration_path, :class => 'navbar-link linkNavbar',
                            :id => 'signup_link' %></li>
            <li><%= link_to t(:sign_in_caps), new_user_session_path, :class => 'navbar-link linkNavbar',
                            :id => 'signin_link' %></li>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <div class="dropdown">
          <button class="selector_button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <div class="selector_icon"><img src="/images/flags/<%= flag(I18n.locale) %>"/></div>
            <div class="selector_text"><%= I18n.locale %></div>
          </button>

          <ul style="width: 50px !important;"  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <% Country.where(available: true).each do |country| %>
                <li role="presentation" onclick="location.href = '/change_locale/<%= country.i18n_key %>'">
                  <div class="selector_line">
                    <div class="selector_nicon"><img src="/images/flags/<%= country.name %>.ico"/></div>
                    <div class="selector_ntext"><%= country.i18n_key %></div>
                    <div style="clear: both;"></div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>

      </ul>
    </div>
  </div>
</nav>

  <div id="login">
    <h2><%= image_tag('logo_birdl_HD.png', :class =>'logo') %></h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <fieldset>
      
      <p><span class="input"><%= f.email_field :email, :id => 'user_email', :class => 'user_email',
          :placeholder => t(:email), autofocus: true %></span></p>
      
      <p><span class="input"><%= f.password_field :password, :id => 'user_password', :class => 'user_password',
          :placeholder => t(:password) %></span></p>

      <p style="margin-right: 19px"><%= f.submit t(:sign_in), :id => 'login_submit', :class => 'login_button' %></p>
      <input class="pwd_button" type="button" onclick="location.href='users/password/new'"
             value="<%= t(:'activerecord.attributes.user.forgotten_password') %>"/>
      
    </fieldset>
    <% end %>
  </div>
  
</body>

<div class="link_login"><%= render 'devise/shared/links' %></div>

