<body class="eventSearch_body">
<nav class="navbar navbar-new" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse navbar-right" id="navbar1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <li><%= link_to t(:home), '/', :class => 'navbar-link linkNavbar',
                        :id => 'home_link' %></li>
        <li><%= link_to t(:my_account), edit_user_registration_path, :class => 'navbar-link linkNavbar',
                        :id => 'profile_link' %></li>
        <li class="active"><%= link_to t(:events), events_path, :class => 'navbar-link linkNavbar',
                                       :id => 'events_link' %></li>
        <% if current_user.admin %>
            <li><%= link_to t(:admin), '/admin', :class => 'navbar-link linkNavbar',
                            :id => 'admin_link' %></li>
        <% end %>
        <li><%= link_to t(:disconnect), destroy_user_session_path, method: :delete,
                        :class => 'navbar-link logout linkNavbar', :id => 'logout_link' %></li>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <div class="dropdown">
          <button class="selector_button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <div class="selector_icon"><img src="/images/flags/<%= flag(I18n.locale) %>"/></div>
            <div class="selector_text"><%= I18n.locale %></div>
          </button>

          <ul style="width: 50px !important;"  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <% Country.where(available: true).each do |country| %>
                <li role="presentation" onclick="location.href = '/change_locale/<%= country.i18n_key %>'">
                  <div class="selector_line">
                    <div class="selector_nicon"><img src="/images/flags/<%= country.name %>.ico"/></div>
                    <div class="selector_ntext"><%= country.i18n_key %></div>
                    <div style="clear: both;"></div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>

      </ul>
    </div>
  </div>
</nav><br /><br />

<%= form_for @event, url: { action: :create } do |f| %>
    <table class="newEvent_table">
      <tr>
        <div class="newEvent_div">
          <h2 class="newEvent_title"><%= t(:event_title) %></h2>
          <%= f.text_field :name, placeholder: t(:event_title) %>
        </div>
      </tr><br /><br /><br />
      <tr>
        <div class="newEvent_div">
          <h2 class="newEvent_title"><%= t(:event_type) %></h2>
          <%= f.select :type, options_for_select(@event_types) %>
        </div>
      </tr><br /><br /><br />
      <tr>
        <div class="newEvent_div">
          <h2 class="newEvent_title"><%= t(:event_param) %></h2>

          <%= f.label :min_slot, t(:min_slots), :class => 'eventSearch_eSlot' %>
          <%= f.number_field :min_slots %><br />

          <%= f.label :max_slots, t(:max_slots), :class => 'eventSearch_eSlot' %>
          <%= f.number_field :max_slots %><br />

          <%= f.label :date, t(:event_date), :class => 'eventSearch_eSlot' %>
          <%= f.date_select :date, default: 1.day.from_now %><br />

          <%= f.label :language, t(:event_language), :class => 'eventSearch_eSlot' %>
          <%= f.text_field :language, placeholder: t(:event_language) %>

          <%= f.fields_for :address, Address.new do |af| %>
              <%= f.label :num, t(:event_numbers), :class => 'eventSearch_eSlot' %>
              <%= af.number_field :num %>
              <%= f.label :street, t(:event_street), :class => 'eventSearch_eSlot' %>
              <%= af.text_field :street, placeholder: t(:event_street) %>
              <%= f.label :zipcode, t(:event_code), :class => 'eventSearch_eSlot' %>
              <%= af.text_field :zipcode, placeholder: t(:event_code) %>
              <%= f.label :city, t(:event_city), :class => 'eventSearch_eSlot' %>
              <%= af.text_field :city, placeholder: t(:event_city) %>
              <%= f.label :country_id, t(:event_country), :class => 'eventSearch_eSlot' %>
              <%= af.select :country_id, Country.all.collect { |c| [c.name, c.id] } %></div>
          <% end %>

        </div>
      </tr><br /><br/>
      <tr>
        <%= submit_tag t(:create), :class => 'newEvent_button' %>
      </tr>
    </table>
<% end %>
</body>
