<body class="eventSearch_body">
<h1 class="newEvent_h1"><%= t(:create_event) %></h1><br />
<%= form_for @event, url: { action: :create } do |f| %>
        <div class="newEvent_div">
          <h2 class="newEvent_title">Nom d'événement</h2>
          <div class="createEvent_field"><%= f.text_field :name, placeholder: 'Nom' %></div>
        </div><br /><br /><br />
        <div class="newEvent_div">
          <h2 class="newEvent_title">Type d'événement</h2>
          <div class="createEvent_field"><%= f.select :type, options_for_select(@event_types) %></div>
        </div><br /><br /><br />
        <div class="newEvent_div">
          <h2 class="newEvent_title">Paramètres de l'événement</h2>
          <div id="newEvent_paramLeft">
            <h3 class="newEvent_h3">Détails</h3>
              <%= f.label :min_slot, t(:min_slots), :class => 'eventSearch_eSlot' %>
              <%= f.number_field :min_slots %><br />

              <%= f.label :max_slots, t(:max_slots), :class => 'eventSearch_eSlot' %>
              <%= f.number_field :max_slots %><br />

              <%= f.label :date, 'Date', :class => 'eventSearch_eSlot' %>
              <%= f.date_select :date %><br />

              <%= f.label :language, 'Langue', :class => 'eventSearch_eSlot' %>
              <%= f.text_field :language, placeholder: 'Language' %>
          </div>
          <div id="newEvent_paramRight">
            <h3 class="newEvent_h3">Adresse</h3>
              <%= f.fields_for :address, Address.new do |af| %>
              <%= f.label :num, 'Num', :class => 'eventSearch_eSlot' %>
              <%= af.number_field :num %><br />
              <%= f.label :street, 'Rue', :class => 'eventSearch_eSlot' %>
              <%= af.text_field :street, placeholder: 'Rue' %><br />
              <%= f.label :zipcode, 'Code postal', :class => 'eventSearch_eSlot' %>
              <%= af.text_field :zipcode, placeholder: 'Code postal' %><br />
              <%= f.label :city, 'Ville', :class => 'eventSearch_eSlot' %>
              <%= af.text_field :city, placeholder: 'Ville' %><br />
              <%= f.label :country_id, 'Pays', :class => 'eventSearch_eSlot' %>
              <%= af.select :country_id, Country.all.collect { |c| [c.name, c.id] } %>
          </div>
          <% end %>

        </div><br /><br/>

        <%= submit_tag 'Create', :class => 'newEvent_button' %>

<% end %>
</body>
