<h1><%= t(:search_event) %></h1>

<%= form_tag action: :search_events do %>
    <%= radio_button_tag :past_events, true %>
    <%= label_tag :past_events_true, t(:past_events) %>
    <%= radio_button_tag :past_events, false, checked: true %>
    <%= label_tag :past_events_false, t(:future_events) %>
    <%= select_tag :event_type, options_for_select(@event_types) %>
    <%= label_tag :event_type, t(:event_type) %>
    <%= number_field_tag :remaining_slots %>
    <%= label_tag :remaining_slots, t(:remaining_slots) %>
    <%= radio_button_tag :friends_in, 'yes' %>
    <%= label_tag :friends_in_yes, t(:yes) %>
    <%= radio_button_tag :friends_in, 'no' %>
    <%= label_tag :friends_in_no, t(:no) %>
    <%= radio_button_tag :friends_in, 'whatever', checked: true %>
    <%= label_tag :friends_in_whatever, t(:whatever) %>
    <%= submit_tag t(:search) %>
<% end %>

<html>
<head>
</head>
<body>
    <br>
    <div class="gEvent">
      <header>
        <h1><%= current_user.name %></h1>
      </header>
      <div class="gEventDesc"">
        <div id="eDescription">
          <h3 style="padding-left: 15px">Chirac faut prendre un jouet</h3>
            <div style="text-align: center"><%= image_tag('groupevents/engine/rheenok.jpg', size: "300x200") %></div>
                    <ul>
                        <li>Organisateur</li>
                        <li>Adresse de l'event</li>
                        <li>Description de l'event</li>
                    </ul>
            </div>
        <div id="uEvents">
          <ul>
            <li><a href="#">Event 1</a></li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 1</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 1</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 1</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 4</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 1</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 4</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 1</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 4</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 1</li>
            <li>Event 2</li>
            <li>Event 3</li>
            <li>Event 4</li>
            <li>Event 4</li>
          </ul>
        </div>
      </div>
  </div>
</body>
</html>