<body class="eventSearch_body">

    <h1 class="eventSearch_h1"><%= t(:search_event) %></h1>

    <div class="field" id="searchform">
      <input type="text" id="searchterm" placeholder= <%= t(:quick_search_event) %> />
      <button type="button" id="search"><%= t(:find) %></button>
    </div><br />

    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <%= form_tag action: :search_events do %>
        <table class="eventSearch_table">
            <tr>
                <td><div class="eventSearch_div"><%= radio_button_tag :past_events, false, checked: true %>
                <%= label_tag :past_events_false, t(:future_events), :class => 'eventSearch_label' %></div></td>
                <td><div class="eventSearch_div"><%= radio_button_tag :past_events, true %>
                <%= label_tag :past_events_true, t(:past_events), :class => 'eventSearch_label' %></div></td>
            </tr>
        </table><br /><br />

        <%= label_tag :past_events_false, t(:event_type) %>
        <%= select_tag :event_type, options_for_select(@event_types) %><br />
        <%= label_tag :remaining_slots, t(:remaining_slots) %>
        <%= number_field_tag :remaining_slots %>

        <%= radio_button_tag :friends_in, 'yes' %>
        <%= label_tag :friends_in_yes, t(:yes) %>
        <%= radio_button_tag :friends_in, 'no' %>
        <%= label_tag :friends_in_no, t(:no) %>
        <%= radio_button_tag :friends_in, 'whatever', checked: true %>
        <%= label_tag :friends_in_whatever, t(:whatever) %>
        <%= submit_tag t(:search) %>
    <% end %>

</body>