<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">


<%= form_for :chat_online do |f| %>

    <body class="body_gen">
    <span class="chat_title"><%= t(:general_chat) %></span><br>

    <div class="chat_body">
      <%= f.text_area :output, :size => "96x25"%><br>
      <h5>&emsp;&emsp;Smiley&emsp;&emsp;&emsp;&emsp;Configuration</h5>
      <%= f.text_area :input, :size => "76x4" %>
      <input type="button" value="Envoyer" id="send_button"></div>

    <div class="usrlist_body">
      <%= f.text_area :output, :size => "33x36" %>
    </div>
    </body>

<% end %>
