<!DOCTYPE html>
<html>
<head>
  <title>Bird'L</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bird'L</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <% if user_signed_in? %>
                <li><%= link_to t(:home), '/', :class => 'navbar-link',
                                :id => 'home_link' %></li>
                <li><%= link_to t(:my_account), edit_user_registration_path, :class => 'navbar-link',
                                :id => 'profile_link' %></li>
                <li><%= link_to t(:events), events_path, :class => 'navbar-link',
                                :id => 'events_link' %></li>
                <% if current_user.admin %>
                    <li><%= link_to t(:admin), '/admin', :class => 'navbar-link',
                                    :id => 'admin_link' %></li>
                <% end %>
                <li><%= link_to t(:disconnect), destroy_user_session_path, method: :delete,
                                :class => 'navbar-link logout', :id => 'logout_link' %></li>
            <% else %>
                <li><%= link_to t(:sign_up), new_user_registration_path, :class => 'navbar-link',
                                :id => 'signup_link' %></li>
                <li><%= link_to t(:sign_in), new_user_session_path, :class => 'navbar-link',
                                :id => 'signin_link' %></li>
          <% end %>
        </li>
      </ul>
    
      <ul class="nav navbar-nav navbar-right">

          <div class="dropdown">
            <button class="selector_button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <div class="selector_icon"><img src="/images/flags/<%= flag(I18n.locale) %>"/></div>
              <div class="selector_text"><%= I18n.locale %></div>
            </button>

            <ul style="width: 50px !important;"  class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <% Country.where(available: true).each do |country| %>
                  <li role="presentation" onclick="location.href = '/change_locale/<%= country.i18n_key %>'">
                    <div class="selector_line">
                      <div class="selector_nicon"><img src="/images/flags/<%= country.name %>.ico"/></div>
                      <div class="selector_ntext"><%= country.i18n_key %></div>
                      <div style="clear: both;"></div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>

      </ul>
    </div>
  </div>
</nav>

<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= flash[:alert] %>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= flash[:notice] %>
    </div>
<% end %>

<% if admin_controller? %>
    <div class="row clearfix" id="admin_container">
      <div class="col-md-12 column">
        <div class="row clearfix">
          <div class="col-md-2 column" id="admin_menu">
            <ul class="nav nav-pills nav-stacked" id="stacked-menu">
              <li><a class="nav-container" href="/admin" id="dashboard_link"><%= t(:home) %></a></li>
              <li><a class="nav-container" href="/admin/countries" id="countries_link"><%= t(:countries) %></a></li>
              <li><a class="nav-container" href="/admin/users" id="users_link"><%= t(:users) %></a></li>
              <li><a class="nav-container" href="/admin/events" id="users_link"><%= t(:events) %></a></li>
            </ul>
          </div>
          <div class="col-md-10 column">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <%= yield %>
<% end %>

</body>
</html>
